BeautifulSoup==3.2.1
Flask==0.9
Flask-RESTful==0.2.3
Jinja2==2.7
MarkupSafe==0.18
MySQL-python==1.2.3
Pillow==2.1.0
PyYAML==3.10
Unidecode==0.04.13
Werkzeug==0.8.3
argparse==1.2.1
cssselect==0.8
distribute==0.7.3
goose==1.0.0
gunicorn==0.17.4
ipython==0.13.2
jieba==0.30
lxml==3.2.1
nltk==2.0.4
numpy==1.7.1
py2neo==1.5
redis==2.7.5
requests==1.2.3
wsgiref==0.1.2
