@font-face {
	src: url(open-sans/OpenSans-Light.ttf);
	font-family: open_sans;
}
@font-face {
	src: url(open-sans/OpenSans-Regular.ttf);
	font-family: open_sans_reg;
}
@font-face {
	src: url(open-sans/OpenSans-Semibold.ttf);
	font-family: open_sans_semi;
}
@font-face {
	src: url(open-sans/OpenSans-Bold.ttf);
	font-family: open_sans_bold;
}

