html
	head
		title Radiant Sky | Error
		link(rel="icon", type="image/png", href="https://s3.amazonaws.com/radiant-sky/public/images/ui/rs.png")
		link(rel='stylesheet', href='https://s3.amazonaws.com/radiant-sky/public/stylesheets/userpage.css')
		link(rel='stylesheet', href='https://s3.amazonaws.com/radiant-sky/public/stylesheets/html-elem.css')
		style.
			body{font-family: sans-serif;background-image: url(https://s3.amazonaws.com/radiant-sky/public/images/ui/bg.png); background-repeat: no-repeat; background-size: cover; background-position: 0 -100px;}
			a{text-decoration: none; color: #0bf;}
			a:HOVER{text-decoration: underline;}
			td, tr, .opt{vertical-align: middle;}
	body
		#header
			#site-title-mini
				a(href="/user/home") Radiant Sky
		.space(style="height: 120px;")
		.banner.maincol-content(style="width: 550px;")
			.error-message(style="width: 500px; margin: 0px auto;")
				.error-number(style="color: black; font-size: 2em; font-weight: bold;")
				.not-found-text(style="color: maroon; font-size: 1.3em") An Error Occurred!
