extends skeleton
block scripts
	script
		$("document").ready(
			function() {
				$("#submit-emid").click(
					function(e) {
						e.preventDefault();
						var emid = $("#emid").val(); alert(emid);
						if(!emid || !emid.trim()) return;
						$.post('/sec_ques', {emid: emid}, function(q) {
							if(q == "0") alert("no account associated with that email id!");
							else if(q == "1") alert("security question was not set for this account!");
							else {
								$("#sec-ques").text(q);
								$("#emailid").val(emid);
								$("#security-val").show();
							}
						});
					}
				);
			}
		);
block content
	#wrap
		#signin-box
			#signin-form
				h1 Forgot Password
				form
					p
					input(type="text", placeholder="Email Id", name="emid", autocomplete="off")#emid
					p
					input(type="submit", value="Submit")#submit-emid
			#security-val(style="display: none")
				h2 Answer the security question
				#sec-ques
				form(action="/forgot_pwd_user", method="post")
					p
					input(type="text", placeholder="Security Answer", name="sa", autocomplete="off")#sa
					input(type="hidden", name="emailid")#emailid
					p
					input(type="submit", value="Submit")
