!!! 5
html
	head
		title Teachfruit | Knowledge Network
		link(rel="icon", type="image/png", href="/images/tf2.png")
		script(src='/javascripts/jquery-1.7.2.min.js')
		script(src='/javascripts/indexpage.js')
		block scripts
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/indexpage.css')
		link(rel='stylesheet', href='/stylesheets/html-elem.css')
		block styles
	block body
