extends skeleton
block styles
	link(rel="stylesheet", href="/stylesheets/profile.css")
block body
	#profile-img(style="background-image: url(/images/user/#{user.img_id})")
		#profile-title
			#profile-name
				a(href="#") #{user.first_name} #{user.last_name}
