#create-assgn
	width: 200px
	margin: 0px auto
	padding: 10px
	text-align: center
.arrow
	border-color: transparent transparent transparent red
	border-width: 5px 10px
	border-style: solid
	width: 0
	height: 0
#assgn-navig
	padding: 10px
#title-assgnmnt-name
	font-weight: bold
	color: maroon
	font-size: 1em
#title-assgnmnt-expln
	color: rgb(70, 70, 70)
	font-size: 0.9em
	margin-top: 4px
#title-dates
	margin-top: 10px
	border: thin solid rgb(230, 230, 230)
	display: inline-block
	padding: 7px
	background: rgb(240, 240, 240)
	border-radius: 3px
#load-assgn
	text-align: center;
	display: none
#assgn-details
	width: 30em
.assgnmnt-wrap
	border-bottom: thin dashed rgb(210, 210, 210)
.assgnmnt
	padding: 20px
	margin: 0
	border-radius: 4px
.assgnmnt:HOVER	
	background: rgba(0, 120, 240, 0.1)
.assgn-link:HOVER
	text-decoration: none
.assgnmnt-title
	font-size: 1em
.assgnmnt-dates
	color: gray;
	font-siz: 0.9em
.start-date, .end-date
	color: rgb(60, 60, 60)
	font-size: 0.8em
.assgnmnt-content
	font-size: 0.9em
	margin-top: 5px
	color: black
.assgn-opt
	text-align: center
	a
		font-size: 0.9em
		line-height: 1em
#view-submissions
	a
		font-size: 0.9em
#warning
	font-weight: bold
	font-size: 0.8em
	color: red
	padding: 10px 0px 4px
	margin: 10px 0
	border: thin solid transparent
.ui-state-active
	background: maroon
	color: white
.submission-date
	color: rgb(70, 70, 70)
	font-size: 0.9em
	padding-bottom: 3px


.user-unit
	padding: 10px
	border-bottom: thin dashed rgb(200, 200, 200)
.user-unit:HOVER
	background: rgba(0, 120, 240, 0.1)
.user-img
	margin-right: 10px
	a
		img
			width: 3em
			border-radius: 5px
.user-name
	width: 18em
	a
		font-size: 0.9em
		text-transform: capitalize
.sub-date
	color: gray
	font-size: 0.75em
	padding: 0 10px
	width: 10em
	text-align: center
.date-title
	color: gray
	font-size: 0.75em
	text-align: center
	margin-right: 4px
.user-sub
	width: 20em
	font-size: 0.9em
	text-align: center
.no-sub
	color: red
.comments
	width: 5em
	text-align: center
.grade
	width: 7em
	text-align: center
	cursor: pointer
	.marks
		color: black
		font-size: 1em
		font-weight: bold
	.slash
		color: gray
		padding: 0 4px
		font-size: 1.2em
	.outof
		color: rgb(50, 50, 50)
		font-size: 0.9em
.modal-window .textinput
	width: 300px
	margin-bottom: 12px
.modal-window .fieldname
	margin-bottom: 12px
