#comment-list{height:300px;width:100%;margin:10px auto 20px;border:thin solid #c8c8c8;border-radius:3px;overflow:auto}
#comment-box{height:60px;width:95%;margin:0 auto;margin-bottom:4px}
.comment-img a img{border-radius:4px;margin-right:8px;width:40px}
.comment-date{font-size:.75em;color:#808080;margin-right:8px}
.comment-unit{padding:5px;font-size:.88em}
.comment-text{font-size:.8em}
