.setting-unit
	padding: 20px
.setting-title
	font-weight: bold
	color: black
.setting-content
	padding: 10px
	font-size: 0.94em
#select-list
	display: none
select
	padding: 2px 7px
	font-weight: bold
	cursor: pointer
