#stream{min-height:50em;border-radius:3px;border-top:2px solid #e6e6e6}
#post-area{margin-bottom:10px;display:none}
#post-box{width:25em;height:6em}
.post-option-list{font-size:.8em}
.post-option{font-size:.9em;padding:5px}
.instr-post{border-left:2px solid #800000}
.post{padding:25px;border-radius:5px;border-bottom:1px dashed #dcdcdc;}
.post .post-author-img a img{max-width:80px;max-height:100px;border-radius:3px}
.post .post-date-time{color:#808080;font-size:.7em}
.post .post-content{padding-top:5px;font-size:.8em;color:#282828}
.post:HOVER{background:rgba(0,120,240,0.1)}
#loading{left:630px;position:absolute;padding:20px;color:#800000}
#sorry-course-closed{color:#f00;padding:10px;width:20em;font-size:1.3em;font-weight:bold;text-align:center;margin:0 auto;margin-top:3em}
.comment-opt{cursor:pointer}
.reply-sect{margin-top:10px}
.reply-unit a img{max-width:35px;max-height:35px;border-radius:3px}
.reply-unit .reply-unit-text{color:#323232;font-size:.75em}
.reply-unit table{border-collapse:separate;border-spacing:10px 0}
.add-reply-btn:HOVER img{opacity:1}
