.req
	width: 300px
#title-strip
	width: 100%
	padding: 15px 0
	font-size: 1.3em
	text-align: center
#title-name
	color: black
	letter-spacing: 1px
	display: inline
.ques
	color: #0bf
	cursor: pointer
	font-weight: bold
	border: thin solid
	padding: 3px 6px
	border-radius: 100%
.ques:HOVER
	color: orange
#wrapper
	background-image: url(https://s3.amazonaws.com/radiant-sky/bg.png)
	background-size: cover
#formdiv
	width: 30em
	margin: 0 auto
	margin-top: 80px
	padding: 20px
	background: rgba(240, 240, 240, 0.8)
#key_space
	background: white
