.person{padding:10px;border-radius:4px}
.person:HOVER{background:rgba(0,120,240,0.1)}
.heading{color:#464646;margin-left:10px}
#title-person a{font-size:1.2em}
.assignment{padding:10px;border-radius:4px}
.parent-table{width:100%;border-collapse:separate;border-spacing:0 10px;}
.parent-table td{width:25em;border-collapse:separate;border-spacing:10px}
.assignment:HOVER{background:rgba(0,120,240,0.1);cursor:pointer}
.assgn-title{color:#0bf}
.assgn-desc{color:#000;font-size:.9em}
.start-date,.end-date{color:#3c3c3c;font-size:.82em;margin-left:4px}
.date-title{color:#808080;font-size:.8em}
.submission{font-size:.9em;text-align:center}
.no-sub{color:#f00}
.sub-date{color:#808080;font-size:.8em}
.grade{text-align:center;}
.grade .marks{color:#000;font-size:1em;font-weight:bold}
.grade .slash{color:#808080;padding:0 4px;font-size:1.2em}
.grade .outof{color:#323232;font-size:.9em}
