.person
	padding: 10px
	border-radius: 4px
.person:HOVER
	background: rgba(0, 120, 240, 0.1)
.heading
	color: rgb(70, 70, 70)
	margin-left: 10px

//PERSON INTERACTION

#title-person
	a
		font-size: 1.2em

.assignment
	padding: 10px
	border-radius: 4px
.parent-table
	width: 100%
	border-collapse: separate
	border-spacing: 0 10px
	td
		width: 25em
		border-collapse: separate
		border-spacing: 10px
.assignment:HOVER
	background: rgba(0, 120, 240, 0.1)
	cursor: pointer
.assgn-title
	color: #0bf
.assgn-desc
	color: black
	font-size: 0.9em
.start-date, .end-date
	color: rgb(60, 60, 60)
	font-size: 0.82em
	margin-left: 4px
.date-title
	color: gray
	font-size: 0.8em
.submission
	font-size: 0.9em
	text-align: center
.no-sub
	color: red
.sub-date
	color: gray
	font-size: 0.8em
.grade
	text-align: center
	.marks
		color: black
		font-size: 1em
		font-weight: bold
	.slash
		color: gray
		padding: 0 4px
		font-size: 1.2em
	.outof
		color: rgb(50, 50, 50)
		font-size: 0.9em

