#add-resource
	width: 200px
	margin: 0 auto
	padding: 10px
	text-align: center
.resource-unit
	padding: 25px
	border-bottom: thin dashed rgb(200, 200, 200)
	border-radius: 5px
.resource-link
	padding: 0 0 5px 0
.resource-unit:HOVER
	background: rgba(0, 120, 240, 0.1)
.resource-date
	color: gray
	vertical-align: middle
	font-size: 0.8em
.table-text
	color: gray
	font-size: 0.8em
.resource-author
	font-size: 0.8em
	vertical-align: middle
.resource-expln
	color: rgb(50, 50, 50)
	padding-top: 5px
	font-size: 0.9em
iframe
	border: thin solid rgb(200, 200, 200)
