border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	-box-shadow arguments
transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
background-size()
	background-size arguments
	-webkit-background-size arguments
	-moz-background-size arguments
	-o-background-size arguments
