#search-results-wrap{width:65em;margin:0 auto;margin-top:70px}
#intro{color:#808080;padding:0 10px 0 0;font-size:.9em}
#query{color:#008000;font-weight:bold}
#query-title{margin:10px 0}
#tabs{border-style:none}
#tabs .ui-state-active a{background:#800000;cursor:pointer;color:#fff;border-radius:3px}
.ui-tabs-nav{border-radius:0}
.course-search-result,.user-search-result{border-radius:5px;margin:20px 0;border:thin solid transparent}
.course-search-result:HOVER,.user-search-result:HOVER{background:rgba(0,120,240,0.1);border:thin solid #28b4c8;}
.course-search-result:HOVER a,.user-search-result:HOVER a{text-decoration:none}
.sr-title{text-transform:capitalize}
.sr-desc{color:#646464;font-size:.9em;padding:2px}
.arrow{height:0;width:0;border-style:solid;border-color:#800000 transparent transparent transparent;border-width:10px;margin:0 auto}
.up-arr{height:0;width:0;border-style:solid;border-color:transparent transparent #800000 transparent;border-width:10px}
.no-result{color:#808080;text-align:center;margin-top:100px}
#wrapper{background-image:url("/images/bg.png");background-size:cover}
#search-results-wrap{background:rgba(240,240,240,0.8);padding:20px;border-radius:10px;border:thin solid #d2d2d2;min-height:30em;margin-bottom:20px}
