#search-results-wrap
	width: 65em
	margin: 0 auto
	margin-top: 70px
#intro
	color: gray
	padding: 0 10px 0 0;
	font-size: 0.9em
#query
	color: green
	font-weight: bold
#query-title
	margin: 10px 0
#tabs
	border-style: none
#tabs .ui-state-active a
	background: maroon
	cursor: pointer
	color: white
	border-radius: 3px
.ui-tabs-nav
	border-radius: 0
.course-search-result, .user-search-result
	border-radius: 5px
	margin: 20px 0;
	border: thin solid transparent
.course-search-result:HOVER, .user-search-result:HOVER
	background: rgba(0, 120, 240, 0.1)
	border: thin solid rgb(40, 180, 200)
	a
		text-decoration: none
.sr-title
	text-transform: capitalize
.sr-desc
	color: rgb(100, 100, 100)
	font-size: 0.9em
	padding: 2px
.arrow
	height: 0
	width: 0
	border-style: solid
	border-color: maroon transparent transparent transparent
	border-width: 10px
	margin: 0 auto
.up-arr
	height: 0
	width: 0
	border-style: solid
	border-color: transparent transparent maroon transparent
	border-width: 10px
.no-result
	color: gray
	text-align: center
	margin-top: 100px
#wrapper
	background-image: url(https://s3.amazonaws.com/radiant-sky/bg.png)
	background-size: cover
#search-results-wrap
	background: rgba(240, 240, 240, 0.8)
	padding: 20px
	border-radius: 10px
	border: thin solid rgb(210, 210, 210)
	min-height: 30em
	margin-bottom: 20px
