@import 'nib'

.icon
	width: 40px
	height: 50.285px
	background-image: url(/images/vec2.png)
.logout
	background-position: 0px 0px;

body
	margin: 0px;
	min-width: 1200px;
	overflow-y: scroll;
#header
	height: 16px;
	padding: 11px;
	margin: 0px;
	position: absolute
	left: 0
	right: 0
	background: rgba(245, 245, 245, 0.95)
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1)
	z-index: 999
#site-title-mini
	a
		position: absolute
		color: maroon
		font-family: ubuntu;
		font-size: 1.3em;
		vertical-align: middle;
		top: 4px;
		left: 15px
		transition: color .2s ease-in 0;
	a:FOCUS
		text-decoration: underline;
	a:HOVER
		text-decoration: none
		color: #00B7FF
#search-div
	position: absolute
	top: 4px
	margin-left: 30%;
	input[type="text"]
		padding: 3px
#user-opt-box
	position: absolute
	top: 4px
	right: 0
	font-size: 0.95em
	padding-top: 6px
.join-course-div
	display: none
	margin-top: 2px
	input[type="text"]
		color: rgb(90, 90, 90)
#logout-box
	right: 10px
#create-course
	right: 70px
#profile
	right: 175px
#user-details
	right: 240px
.user-opt-box-unit
	padding: 0px 10px;
	position: absolute
	white-space: nowrap
#wrapper
	position: absolute
	right: 0
	left: 0
	top: 0px
	background-image: url(/images/bg.png)
	background-repeat: no-repeat
	background-size: cover
#leftcol
	width: 25%;
	float: left;
	height: 50em;
	border-right: thin solid rgb(230, 230, 230);
	max-width: 260px;
	min-width: 200px;

#leftcol-title
	color: maroon;
	padding: 10px;
	text-align: left;

.navunit
	padding: 10px 20px 10px 20px;
	a:FOCUS
		text-decoration: underline;

.selectedlink
	color: maroon;
	font-weight: bold;
.homelink
	text-decoration: underline;
#maincontent
	min-width: 1000px;
	margin: 0px auto;
	background: transparent
	min-height: 50em

#maincol-title
	font-weight: bold;
	color: maroon;
	font-size: 1.4em;
	padding: 10px;
.maincol-content
	padding: 20px;
	background: rgba(255, 255, 255, 0.7)
	border-radius: 8px
	width: 70em
	margin: 20px auto
	border: thin solid rgba(0, 120, 240, 0.2)
#masthead
	height: 20em
	background-size: cover
	background-repeat: no-repeat
	background-position-y: -200px
	background-position: 0px -200px
	border-radius: 5px 5px 0 0
#course-navig-bar
	background: black
	top: 17.8em;
	td
		padding: 10px;
		margin: 0px 90px;
	a
		padding: 5px 20px;
		text-decoration: none;
	a:FOCUS
		text-decoration: underline;
	table
		margin: 0px auto
.selected-course-navig-link
	color: white;
	background: maroon;
	border-radius: 3px;

.fieldname
	color: rgb(70, 70, 70);
	font-size: 0.8em;
	padding-left: 3px;
	padding-right: 15px;
	text-align: left;
#course-title
	padding: 20px
	position: absolute
	top: 70px
	background: rgba(0, 0, 0, 0.85)
	border-radius: 0px 10px 10px 0px
#course-name
	a
		font-weight: normal
		color: white
		font-size: 1.1em
		transition: color 0.2s ease-in 0
	padding: 10px
#course-name a:HOVER
	text-decoration: none
	color: #0bff
#arrow
	border-left: 10px solid orange;
	border-top: 5px solid transparent
	border-bottom: 5px solid transparent
#month
	text-align: center
	padding: 10px
	font-size: 2em
.plus
	float: right
	display: none
	font-weight: bold
	color: green
#cal
	width: 600px
	margin: 0px auto
	margin-top: 2em
.elem
	color: rgb(40, 40, 40)
	font-size: 1.6em
	padding: 12px
	margin-left: 10px;
.elem:HOVER
	background: rgb(235, 235, 235)
	cursor: pointer
	border-radius: 5px
.day
	color: maroon
.day-name
	font-size: 0.5em
	color: gray
	vertical-align: middle
	margin-left: 10px

.not-bubble, .action-bubble, .me-bubble
	background-color:rgba(0, 0, 0, 0.85);
	border:2px solid maroon;
	line-height:1.3em;
	position:absolute;
	right: 300px;
	padding: 10px 0px 10px 0px;
	text-align:center;
	width: 280px;
	border-radius: 10px;
	box-shadow:0 0 5px #888888;
	top: 42px;
	display: none;
	z-index: 9999;
#notif-list
	max-height: 30em
	overflow: auto
.not-bubble-arrow, .action-bubble-arrow
	border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:-19px;
	right:40px;
.not-bubble-arrow-border, .action-bubble-arrow-border
	border-color: transparent transparent maroon transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:-22px;
	right:40px;

.bubble
	background-color:rgba(0, 0, 0, 0.85);
	border:2px solid maroon;
	line-height:1.3em;
	position:absolute;
	right: 80px;
	padding: 10px 0px 10px 0px;
	text-align:center;
	width:280px;
	border-radius: 10px;
	box-shadow:0 0 5px #888888;
	top: 40px;
	display: none;
	z-index: 9999;
.bubble-arrow
	border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:-19px;
	right:40px;
.bubble-arrow-border
	border-color: transparent transparent maroon transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:-22px;
	right:40px;
.bubble-course-elem
	padding: 5px 5px 5px 15px
	text-align: left
.bubble-course-id
	color: gray
	font-size: 0.8em
	margin-left: 5px
#no-courses
	color: gray
#loading
	position: absolute
	z-index: 0
.notification
	padding: 5px
	background: white
	margin: 10px
	border-radius: 4px
.notification a:HOVER
	text-decoration: none
.notification:HOVER
	text-decoration: none
.img
	img
		border-radius: 3px
.notif-content
	padding-left: 7px
	text-align: left
	color: black
	text-decoration: none
	font-size: 0.8em
.notif-content-hover
	color: #00B7FF
.notif-course
	font-weight: bold
	margin-left: 2px
.notif-event-date
	color: rgb(130, 130, 130)
	font-size: 0.87em
.notif-event-date-hover
	color: black


::-webkit-scrollbar
	width: 11px
::-webkit-scrollbar-track
	border-left: thin solid rgb(220, 220, 220)
::-webkit-scrollbar-thumb
	background: rgb(190, 190, 190)
	border: thin solid rgb(150, 150, 150)
::-webkit-scrollbar-thumb:HOVER
	background: rgb(170, 170, 170)
	box-shadow: inset 0 0 5px rgba(110, 00, 0, 0.2)
	cursor: pointer
::-webkit-scrollbar-thumb:ACTIVE
	background: rgb(150, 150, 150)
	box-shadow: inset 0 0 5px rgba(110, 00, 0, 0.4)
