<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Smooth Page Scroll</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="/static/js/jquery-1.11.0.js"></script>
	<script src="/static/js/scroller.js"></script>
</head>

<body>
	<div id="demo-top-bar">
		<div id="page-wrap">
			<h1 id="top">Smooth Page Scrolling</h1>
			<ul>
				<li><a href="#two">Scroll to Section Two</a></li>
				<li><a href="#three">Scroll to Section Three</a></li>
			</ul>

			<h1 id="one">Section One</h1>

			<h1 id="two">Section Two</h1>

			<h1 id="three">Section Three</h1>
		</div>
	</div>

</body>
</html>
