!!!
html
	head
		title Personal Stock Monitor
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles
		script(src="/javascripts/jquery-1.7.2.min.js")
		block scripts
	body
		#header
			#site-title
				a(href="/") Personal Stock Monitor
		block content

